<div class="row mt-2 mb-2">
    <div class="col-4"></div>
    <div class="col-4">
        <nav class="navbar-center navbar-expand-lg navbar-light bg-light">

            <button class="btn-success" routerLinkActive="btn-dark" routerLink="/accueil">Accueil</button>
            <button class="btn-success" routerLinkActive="btn-dark" routerLink="/gallerie">Galerie</button>
            <button class="btn-success" routerLinkActive="btn-dark" routerLink="/apropos">A propos</button>
            <button class="btn-success" routerLinkActive="btn-dark" routerLink="/authentification">Se connecter</button>
            <button class="btn-danger" (click)="deconnecter()">Deconnexion</button>


        </nav>
    </div>
    <div class="col-4"></div>
</div>
