<div class="row mt-4">
    <div class="col-4">
    </div>
    <div class="col-4">
        <img class="img-fluid" src="assets/images/collegues_front.png" width="80%">
    </div>
    <div class="col-4">
    </div>
</div>
<div class="row" *ngIf="logged==false">
    <div class="col">
        <app-authentification-component></app-authentification-component>
    </div>

</div>
<div class="row mt-4" *ngIf="logged==true">
    <div class="col">
        <app-recherche-collegue-par-nom></app-recherche-collegue-par-nom>
    </div>

    <div class="col">
        <app-collegue [col]="col"></app-collegue>
    </div>

</div>
