<div class="row" *ngIf="col && !modifier && !creation">
    <div class="col-4">
        <img class="img-thumbnail" [src]="col.photoUrl" height="352" width="470">
    </div>
    <div class="col-8 ">
        <div class="row">
            <div class=col-6><p class="font-weight-bold"> Matricule :</p></div>
            <div class=col-6>{{col.matricule}}</div>
        </div>
        <div class="row">
            <div class=col-6>Nom :</div>
            <div class=col-6>{{col.nom | uppercase}}</div>
        </div>
        <div class="row">
            <div class=col-6>Prénom :</div>
            <div class=col-6>{{col.prenom}}</div>
        </div>
        <div class="row">
            <div class=col-6>Date de naissance :</div>
            <div class=col-6>{{col.dateDeNaissance | date:'dd/MM/yyyy'}}</div>

        </div>
        <div>
            <div class="row">
                <div class=col-6>Email :</div>
                <div class=col-6>{{col.email}}</div>

            </div>

        </div>
    </div>
</div>
<div>
        <form (ngSubmit)="validerCreation()" [ngFormOptions]="{updateOn: 'blur'}"  >
            <div *ngIf="creation && !modifier">
                <div class="row">
                    <div class=col-6>Nom :</div>
                    <div class=col-6>
                        <input type="text" [(ngModel)]="collegueCreer.nom" #nom="ngModel" name="nom" required>
                        <p class="text-danger" *ngIf="nom.dirty && nom.invalid">
                            Le nom est obligatoire.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class=col-6>Prénom :</div>
                    <div class=col-6>
                        <input type="text" [(ngModel)]="collegueCreer.prenom" #prenom="ngModel" name="prenom" required>
                        <p class="text-danger" *ngIf="prenom.dirty && nom.invalid">
                            Le prénom est obligatoire.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class=col-6>Date de naissance :</div>
                    <div class=col-6>
                        <input (click)="d.toggle()" type="text" ngbDatepicker #d="ngbDatepicker" [minDate]="{year:1980, month:1, day:1}" [(ngModel)]="collegueCreer.dateDeNaissance"
                               #dateDeNaissance="ngModel" name="dateDeNaissance" required>
                        <p class="text-danger" *ngIf="dateDeNaissance.dirty && dateDeNaissance.invalid">
                            La date de naissance est obligatoire.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class=col-6>Email :</div>
                    <div class=col-6>

                        <input appEmailValidator type="text" [(ngModel)]="collegueCreer.email" #email="ngModel" name="email" required>
                        <p class="text-danger" *ngIf="email.dirty && email.errors.required">
                            L'adresse email est obligatoire.
                        </p>
                        <p class="text-danger" *ngIf="email.dirty && email.errors.emailInvalide">
                            L'adresse email existe déjà.
                        </p>
                    </div>
                    <div class="row">
                        <div class=col-6>Adresse de la photo :</div>
                        <div class=col-6>
                            <input appUrlValidator type="text" [(ngModel)]="collegueCreer.photoUrl" #photo="ngModel" name="photoUrl"
                                   required
                                   minlength="7">

                            <p class="text-danger" *ngIf="photo.dirty && photo.errors.urlInvalide">L'url doit commencer par http</p>
                            <p class="text-danger" *ngIf="photo.dirty && photo.errors.required">
                                L'url de la photo est obligatoire et doit comporter au moins 7 caractères.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <button type="submit" *ngIf="creation" >Valider
            </button>
            <button *ngIf="creation" (click)="annulerCreation()">Annuler
            </button>
        </form>
</div>
        <form (ngSubmit)="validerModification()" [ngFormOptions]="{updateOn: 'blur'}">
            <div *ngIf="col &&modifier && !creation">

                <div class="row">
                    <div class=col-6>Email :</div>
                    <div class=col-6>
                        <input type="text" [(ngModel)]="collegueModifier.email" #email="ngModel" name="email" required>
                        <p class="text-danger" *ngIf="email.dirty && email.invalid">
                            L'adresse email est obligatoire.
                        </p>
                    </div>
                    <div class="row">
                        <div class=col-6>Adresse de la photo :</div>
                        <div class=col-6>
                            <input appUrlValidator type="text" [(ngModel)]="collegueModifier.photoUrl" #photo="ngModel" name="photoUrl"
                                   required
                                   minlength="7">
                            <p class="text-danger" *ngIf="photo.dirty && photo.errors.urlInvalide">L'url doit commencer par http</p>
                            <p class="text-danger" *ngIf="photo.dirty && photo.invalid">
                                L'url de la photo est obligatoire et doit comporter au moins 7 caractères.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <button type="submit" *ngIf="modifier">Valider
            </button>
            <button *ngIf="col && modifier" (click)="annulerModification()">Annuler
            </button>
        </form>

    <div class="row">

        <div class="col-4"></div>
        <div class="col-4">
            <button class="btn-success" (click)="creer()"> Créer un nouveau collègue</button>
        </div>
        <div class="col-4">
            <button class="btn-success" *ngIf="!creation && col" (click)="modifierCollegue()"> Modifier</button>

        </div>


    </div>




















